{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Teashop</title>
{% endblock %}

{% block content %}
    <h1 align="center">
        {{ title }}
    </h1>
    <h1 align="center">
        <img src="{% static 'images/cup_tea.jpg' %}" class="rounded-circle" alt="Cup Tea" width="250" />
    </h1>
    <p>Tea is an aromatic beverage prepared by pouring hot or boiling water over cured or fresh leaves of Camellia sinensis, an evergreen shrub native to China and other East Asian countries. After water, it is the most widely consumed drink in the world. There are many different types of tea; some have a cooling, slightly bitter, and astringent flavour, while others have vastly different profiles that include sweet, nutty, floral, or grassy notes. Tea has a stimulating effect in humans primarily due to its caffeine content.</p>
<a class="btn btn-danger" href="https://en.wikipedia.org/wiki/Tea" target="_blank">View more...</a>

{% endblock %}
